body{
    background: #707174;
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: black;
    margin: 0;
    padding: 0;
}

.main{
    width:100%;
    max-width: 980px;
    margin:20px auto 80px;
    padding: 0 10px;
}